@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	margin: 0 auto;
	text-align: center;
	background-color:  #00aced;
	font-family: Lato;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
	margin: 50px auto;
}
button {
	background-color: transparent;
	border: 1px solid #fff;
	cursor: pointer;
	font-size: 15px;
	margin: 20px auto; 
	display: block;
	width: 300px;
	text-align: center;
	padding: 2%;
}
.button-section {
	margin-top: 120px;
}
a {
	text-decoration: none;
}
main, a, .fa, button {
	color: #fff;
}